body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  font-weight: bold;
  padding: 12px 50px;
}

.logo {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #d4a002;
  transition: 0.2s;
}

/* Section One */
.sec-one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  padding: 70px 50px;
  color: white;
  background-color: #1f2937;
}

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.content > h1 {
  font-size: 48px;
  margin-bottom: 5px;
}
.content > p {
  font-size: 18px;
  color: #e5e7eb;
  text-align: justify;
}
.content > button {
  width: 140px;
  padding: 12px 3px;
  border: none;
  border-radius: 7px;
  background-color: #3882f6;
  color: white;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 1px 1px 6px rgba(45, 146, 224, 0.3);
  cursor: pointer;
}
.content > button:hover {
  background-color: #024cc1;
  transition: 0.3s;
}

.fitness > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}
.fitness {
  flex: 0 0 550px;
  height: auto;
  border: 2px solid wheat;
  border-radius: 3px;
}

/* Section Two */
.sec-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  gap: 4rem;
  box-sizing: border-box;
}
.title {
  font-size: 36px;
  font-weight: bold;
}
.info {
  display: flex;
  gap: 3rem;
  text-align: center;
  flex-wrap: wrap;
}
.info-one {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  flex: 1;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}
.info > div img {
  width: 100%;
  height: auto;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

/* Section Three */
.sec-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  height: 400px;
}

.quote {
  max-width: 50%;
}

.quote p {
  font-size: 27px;
  font-weight: 300;
  font-style: italic;
  line-height: 40px;
}

.quote h4 {
  font-size: 20px;
  width: 150px;
  margin-left: auto;
}

/* Section Four */
.sec-four {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action {
  display: flex;
  justify-content: center;
  gap: 7rem;
  align-items: center;
  background-color: #3882f6;
  width: 80%;
  border-radius: 8px;
  padding: 14px 20px;
  margin: 70px;
}

.action button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.action button:hover {
  color: #3882f6;
  background-color: white;
  border: 2px solid transparent;
  transition: 0.3s;
}

.join {
  max-width: 60%;
  background-color: #3882f6;
  color: #e5e7eb;
}

.join p {
  font-size: 18px;
}

.join h3 {
  font-size: 20px;
}

/* Footer Section */
footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  gap: 8rem;
}

footer p a {
  text-decoration: underline;
}
